.cont_100{
  width: 100vw;
}

.debug .row [class*="col-xs-"]{
  height: 150px;
  border: 2px solid black ;
  background-color: rgb(230, 143, 104);
}

.debug .row .row [class*="col-xs-"]{
  height: 150px;
  border: 2px solid black ;
  background-color: rgb(103, 230, 116);
}

a{
  text-decoration: none;
  color: #031B4E;
}

body{
  font-family: 'Montserrat', sans-serif;
}
/* border */
 .b_left{
   border-left: 2px solid lightgrey;
 }

/* margin */
.m_auto{
  margin: auto;
}
.mt_10{
  margin-top: 10px;
}
.mt_75{
  margin-top: 75px;
}

.mb_50px{
  margin-bottom: 50px;
}
.ml_20px{
  margin-left: 15%;
}

/* padding */
.p_10px{
  padding: 10px;
}
.pt_10px{
  padding-top: 10px;
}
.pb_50px{
  padding-bottom:  50px;
}
.pb_100px{
  padding-bottom: 100px;
}
.pt_50px{
  padding-top: 50px;
}
.pl_5px{
  padding-left: 5px;
}

/* position */
.pos_a{
  position: absolute;
}

.pos_r{
  position: relative;
}


/* display */
.d_block{
  display: block;
}
.d_inlineblock{
  display: inline-block;
}
/* button */
.btn_blue{
  border: 1px solid #0F71FF;
  color: #0F71FF;
}

.btn_blue:hover,
.btn_blue:focus,
.btn_blue:active{
  background-color: #0F71FF;
  color: white;
  border: 1px solid white;
}

.btn_account{
  background-color: #0F71FF;
  opacity: 0.4;
  border: 1px solid #0F71FF;
  color: white;
}
.btn_account:hover,
.btn_account:active,
.btn_account:focus{
  background-color: #0F71FF;
  border: 1px solid #0F71FF;
  opacity: 1;
  color: white;
  transition: opacity 0.5s;
}
.btn_create{
  background-color: white;
  color: #0F71FF;
  border: 1px solid white;
}
.btn_create:hover,
.btn_create:focus,
.btn_create:active{
  background-color: #0F71FF;
  color: white;
  border: 1px solid white;
}
/* bg-color */
.bgc_w{
  background-color: white;
  border-bottom: 1px solid rgba(164, 164, 164, 0.45);
}

.bgc_white{
  background-color: white;
}

.bgc_grey{
  background-color: #F3F5F9;
}
.bgc_darkblue{
  background-color:  #031B4E;
}

/* text properties */
.fw_600{
  font-weight: 600;
}

.t_darkblue{
  color: #031B4E;
}

.t_blue{
  color:#0F71FF;
}
.t_darkblue_opa{
  color: #626F8C;
}
.f_size14{
  font-size: 14px;
}

.t_deco_u{
  text-decoration: underline;
}


/* width */
.lg_100px{
  width: 150px;
}
.w_100{
  width: 100%;
}
.lg_200px{
  width: 200px;
}
/* height */
.h_50px{
  height: 50px;
}
.h_500px{
  height: 500px;
}
.height_250px{
  height: 250px;
}
.h_250px{
  height: 250px;
  width: 155px;
}

.f_nav,
.s_nav{
  line-height: 50px;
}


/* header */

.lg_m{
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
}
.br_blue{
  font-size: 20px;
  color: #0F71FF;
  padding-top: 15px;
}
ul li a{
  padding-left: 10px;
}


/* jumbotron */

.jumbotron{
  background-image: url('../img/bg-home-1.jpg');
  width: 98vw;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.jumbotron h1,p{
  color: white;
  font-weight: 600;
}
.jumbotron .google_signup::before{
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  background: url('../img/google-icon.png');
  background-size: cover;
}
.jumbotron .box_login{
  border-radius: 5px;
}
.jumbotron{
  margin-bottom: 0;
}
/* partners */
#partners{
 font-family: 'Roboto', sans-serif;
 color:#838EA6;
}
@media only screen and (max-width: 600px) {
  #partners h4{
    font-size: 12px;
  }

}
#partners h4{
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 75px;
  height: 75px;
}
#docker{
  background-image: url('../img/logo_docker.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;

}
#gitlab{
  background-image: url('../img/logo_gitlab.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
}
#slack{
  background-image: url('../img/logo_slack.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
}
#hashi{
  background-image: url('../img/logo_hashicorp.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
}
#splunk{
  background-image: url('../img/logo_splunk.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
}
#partners a{
  color: #0F71FF;
}


#deploy{
  background-color: white;
    font-family: 'Roboto', sans-serif;
}
#deploy h4{
  color: #031B4E;
  font-weight: 600;
  font-size: 30px;
}
#deploy ul li{
  list-style: none;
  padding-top: 10px;
}
#deploy .delpoy_box h5{
  color: #031B4E;
  font-weight: 600;
}
#deploy .delpoy_box p{
  color: #76829A;
}
@media only screen and (min-width:600px) {
  #deploy .delpoy_box p{
    height: 150px;
  }
  #deploy  h4{
    font-size: 30px;
  }
  #deploy  h5{
    font-size: 30px;
  }
  #deploy p{
    font-size: 20px;
  }
  #deploy li{
    font-size: 20px;
  }

}
#designed{
  background-color: #F3F5F9;
  font-family: 'Roboto', sans-serif;
  color:#838EA6;
  padding-bottom: 100px;
  padding-top: 100px;
}
#designed .designed_box h4{
  color: #031B4E;
  font-weight: 600;
  font-size: 30px;
}

#designed .designed_box p{
  color: #5C6989;
}
#droplet.designed_box img{
   display: inline-block;
   margin: auto;
   width: 50%;
 }
 #droplet.designed_box img::after{
   font-family: "Font Awesome 5 Free";
   content: "\f054";
   display: inline-block;
   padding-right: 3px;
   vertical-align: middle;
   font-weight: 900;
 }
 #droplet.designed_box img::before{
   font-family: "Font Awesome 5 Free";
   content: "\f054";
   display: inline-block;
   vertical-align: middle;
   font-weight: 900;
   font-size: 16px;
   width: 50px;
   height: 50px;
 }
 #myCarousel{
   margin-top: 150px;
   margin-bottom: 100px;
 }
#myCarousel .carousel-indicators li.active{
  background-color:  #0F71FF;
}
#myCarousel .carousel-indicators li{
  border-color:  #0F71FF;
}
@media only screen and (min-width:600px) {
  #designed .designed_box h4{
    font-size: 30px;
  }
  #designed .designed_box p{
    font-size: 20px;
  }
  #designed .container.h_500px{
    height: 650px;
  }
}
#features{
  background-color: white;
    font-family: 'Roboto', sans-serif;
}
#features h3{
  color: #031B4E;
  font-weight: 600;
  font-size: 30px;
}
#features h5{
  color: #031B4E;
  font-weight: 600;
  font-size: 18px;
}
#features p{
  color: #5C6989;
}
#features a{
  color: #0F71FF;
}
#service{
  background: linear-gradient(#0048C5, #001E9A);
}
#service h3{
  color: white;
  font-weight: 600;
}
#service .height_15px{
 padding-top: 8px;
}
#service h5{
  color: white;
  font-weight: 600;
  text-transform: uppercase;

}
#service .countries{
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  vertical-align: middle;

}
#service p{
  color: white;
  font-weight: 400;
  line-height: 20px;
  vertical-align: middle;
  font-size: 12px;

}

#service a{
  color: #00B6CD;
}
#service .bb_white{
  border-bottom: 1px solid white;
  margin: 0 1px;
}
#service .m_1px{
  margin: 0 1px;
}
@media screen and (max-width:990px) {

  #service .padding{
    padding-top: 50px;
    padding-bottom: 100px;
  }
  #service .padding_box{
    padding-top: 100px;
  }

}

@media screen and (min-width:990px){
  #service .padding_box{
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
#development{
  background-color: #F3F5F9;
  height: 600px;
}

#development.designed_box img{
   display: inline-block;
   margin: auto;
   width: 150%;
 }

 #myCarousel_3{
   margin-top: 150px;
   margin-bottom: 100px;
 }
#myCarousel_3 .carousel-indicators li.active{
  background-color:  #0F71FF;
}
#myCarousel_3 .carousel-indicators li{
  border-color:  #0F71FF;
}
.development_box{

  width: 250px;
  margin: auto;
  background-color: white;
  border-radius: 5px;
}
.development_box img{
  margin-top: 30px;
  width: 100%;
}
.development_box p{
  color: #77839C;
}
#development a{
  color: #00B6CD;
}
 #development h4{
   color: #031B4E;
   font-weight: 600;
   font-size: 20px;
   margin-top: 40px;
 }
#development .rick{
  font-weight: 600;
  color: #031B4E;
}
#development span{
  font-weight: 400;
}
@media only screen and (min-width:600px){
  .development_box{
    width: 450px;
  }
}
footer h3{
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 30px;
  color: white;
}
footer .bgc_blue{
  background-color: #0048C5;
}
.f_button{
  margin-top: 75px;
}
footer ul li{
  list-style: none;
  margin-left: 0;
}
footer ul li a{
  color: white;
}
footer ul h6{
  color: white;
  font-weight: 600;
}
